@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sawyer's Running Journey</h1>
</div>
    <p>Welcome to Sawyer's world of running! Whether it's your first time here or you've decided to check in weekly, we hope we have what you're looking for. </p>
    <h3 class="display-7">About the site:</h3>
    <h5>Here's what you can expect to find:</h5>

<br />
<h3 class="display-7">Inspiring stories: </h3>
<p>Dive into Sawyer's personal journey with running, from his early stumbles to his proudest achievements. Get motivated by his dedication and learn from his experiences.</p>
<br />
<h3 class="display-7">Training tips and tricks: </h3>
<p>Gain valuable insights into Sawyer's training routines, gear recommendations, and helpful advice for runners of all levels.</p>
<br />
<h3 class="display-7">Local insights: </h3>
<p>Discover Sawyer's favorite running routes, races, and events in his area. Explore new paths and join the local running community.</p>
<br />
<h3 class="display-7">Running community hub: </h3>
<p>Connect with other runners, share your own experiences, and ask questions in a supportive and encouraging environment.</p>
<br />
<h3 class="display-7">A glimpse into Sawyer's world: </h3>
<p>Get to know the person behind the passion. Learn about Sawyer's motivations, challenges, and what keeps him coming back for more.</p>
<br />
<h5>No matter your pace or goals, Sawyer's website is designed to fuel your passion for running. So, grab your shoes, lace up, and join Sawyer on his exciting journey!</h5>
 
