@{
    ViewData["Title"] = "Home Page";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/yrun.jpg" alt="Running Photo" />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Sawyer's Running Journey</span>
                            <span class="section-heading-upper">
                                <span class="linkfont">
                                    <a class="" href="#welcome">Welcome</a> |
                                    <a class="" href="#intro">Intro</a> |
                                    <a class="" href="#learn">Learn</a> |
                                    <a class="" href="#about">About</a> |
                                    <a class="" href="#about">Runs</a> |
                                    <a class="" href="#contact">Contact</a>
                                </span>
                            </span>
                            <span class="section-heading-lower" id="welcome">Welcome to Sawyer's Running Hub!</span>
                        </h2>
                        <p> Whether you're a seasoned runner looking to push your limits or a curious newcomer tying on your first pair of shoes, this is your one-stop shop for all things running! Here, you'll find more than just information - you'll discover a supportive community, expert guidance, and the inspiration to take your running journey to the next level.</p>
                        <br />
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower" id="intro">Here's what you can expect to find:</span>
                        </h2>
                        <p>Forget fancy bios and self-proclaimed expertise. Here, you'll meet Sawyer, a real runner just like you, with all the sweat, triumphs, and occasional stumbles that come with the journey. Join him as he peels back the layers of his personal running narrative, from the first awkward jogs as a teenager to his first 5k and beyond.</p>
                        <br />
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower" id="learn">Skills</span>
                        </h2>
                        <p>From beginner's walk/run intervals to veteran's VO2 max workouts, Sawyer's expertise goes beyond inspiration. Discover his training secrets, gear recommendations (think perfect shoe fit & sweat-wicking wonders), dietary strategies (pre-run fuel & hydration hacks), and mental mastery tips. Conquer injuries with his recovery techniques, join his vibrant running community, and create your own unique running story, fueled by Sawyer's wisdom and your unwavering stride.</p>
                        <br />
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower" id="about">About Sawyer</span>
                        </h2>
                        <p>"I have always wanted to be better at running. When I was young, I remember going to the gym to run a few times, but never having much success. This year, I decided to run a half marathon, and plan to run a full marathon next year. I'm excited to have you join me on this journey.'"</p>
                        
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower" id="runs">Recent Runs</span>
                        </h2>
                        <img src="~/runs.jpg" height=800 />
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower" id="contact">Contact</span>
                        </h2>
                        <p>
                            <a href="https://www.facebook.com/sawyer.evans.967/" target="_blank" alt="Link to Facebook"><span class="underline">Facebook</span></a> |
                            <a href="https://www.instagram.com/childish_dwarf/" target="_blank" alt="instagram handle"><span class="underline">Instagram</span></a> |
                            <a href="https://linktr.ee/sawyerevans" target="_blank" alt="LinkTree link"><span class="underline">LinkTree</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

